#############################################
# Node.js
#############################################
node_modules/

#############################################
# Build / Output
#############################################
dist/
dist-ssr/
*.tsbuildinfo

#############################################
# Logs
#############################################
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#############################################
# Environment Files
#############################################
*.local
.env
.env.local
.env.*.local

#############################################
# IDEs / Editors
#############################################
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#############################################
# OS Generated
#############################################
.DS_Store
Thumbs.db

#############################################
# Misc
#############################################
components.json         # ShadCN config file
.eslintcache            # ESLint cache
coverage/               # Test coverage output
